@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Space Grotesk', sans-serif !important;
  
  
}
